@use 'sass:math';

$sizing: (
  "width": (
    "prefix": "w",
    values: (
     "0": 0,
     // pixels and rem units
     "1px": 1px,
     "2px": 2px,
     "4px": 4px,
     "6px": 6px,
     "8px": 8px,
     "10px": 10px,
     "12px": 12px,
     "14px": 14px,
     "1": 1rem,
     "20px": 20px,
     "24px": 24px,
     "28px": 28px,
     "2": 2rem,
     "36px": 36px,
     "40px": 40px,
     "44px": 44px,
     "3": 3rem,
     "4": 4rem,
     "5": 5rem,
     "6": 6rem,
     "7": 7rem,
     "8": 8rem,
     "9": 9rem,
     "10": 10rem,
     "11": 11rem,
     "12": 12rem,
     "13": 13rem,
     "14": 14rem,
     "15": 15rem,
     "16": 16rem,
     "18": 18rem,
     "20": 20rem,
     "24": 24rem,
     "28": 28rem,
     "32": 32rem,
     "36": 36rem,
     "40": 40rem,
     "48": 48rem,
     "56": 56rem,
     "60": 60rem,
     // veiwport units
     "1vw": 1vw,
     "2vw": 2vw,
     "3vw": 3vw,
     "4vw": 4vw,
     "5vw": 5vw,
     "6vw": 6vw,
     "7vw": 7vw,
     "8vw": 8vw,
     "9vw": 9vw,
     "10vw": 10vw,
     "12vw": 12vw,
     "14vw": 14vw,
     "15vw": 15vw,
     "16vw": 16vw,
     "18vw": 18vw,
     "20vw": 20vw,
     "25vw": 25vw,
     "30vw": 30vw,
     "35vw": 35vw,
     "40vw": 40vw,
     "45vw": 45vw,
     "50vw": 50vw,
     "55vw": 55vw,
     "60vw": 60vw,
     "65vw": 65vw,
     "70vw": 70vw,
     "75vw": 75vw,
     "80vw": 80vw,
     "85vw": 85vw,
     "90vw": 90vw,
     "95vw": 95vw,
     "100vw": 100vw,
    )
  ),
  "height": (
    "prefix": "h",
    values: (
     "0": 0,
     // pixels and rem units
     "1px": 1px,
     "2px": 2px,
     "4px": 4px,
     "6px": 6px,
     "8px": 8px,
     "10px": 10px,
     "12px": 12px,
     "14px": 14px,
     "1": 1rem,
     "20px": 20px,
     "24px": 24px,
     "28px": 28px,
     "2": 2rem,
     "36px": 36px,
     "40px": 40px,
     "44px": 44px,
     "3": 3rem,
     "4": 4rem,
     "5": 5rem,
     "6": 6rem,
     "7": 7rem,
     "8": 8rem,
     "9": 9rem,
     "10": 10rem,
     "11": 11rem,
     "12": 12rem,
     "13": 13rem,
     "14": 14rem,
     "15": 15rem,
     "16": 16rem,
     "18": 18rem,
     "20": 20rem,
     "24": 24rem,
     "28": 28rem,
     "32": 32rem,
     "36": 36rem,
     "40": 40rem,
     "48": 48rem,
     "56": 56rem,
     "60": 60rem,
     // veiwport units
     "1vh": 1vh,
     "2vh": 2vh,
     "3vh": 3vh,
     "4vh": 4vh,
     "5vh": 5vh,
     "6vh": 6vh,
     "7vh": 7vh,
     "8vh": 8vh,
     "9vh": 9vh,
     "10vh": 10vh,
     "12vh": 12vh,
     "14vh": 14vh,
     "15vh": 15vh,
     "16vh": 16vh,
     "18vh": 18vh,
     "20vh": 20vh,
     "25vh": 25vh,
     "30vh": 30vh,
     "35vh": 35vh,
     "40vh": 40vh,
     "45vh": 45vh,
     "50vh": 50vh,
     "55vh": 55vh,
     "60vh": 60vh,
     "65vh": 65vh,
     "70vh": 70vh,
     "75vh": 75vh,
     "80vh": 80vh,
     "85vh": 85vh,
     "90vh": 90vh,
     "95vh": 95vh,
     "100vh": 100vh,
    )
  ),
);

// Generate position classes
@each $property, $map in $sizing {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if($k == 'default') {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
