@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  cursor: inherit;
  line-height: 1.4;
}

body {
  font-family: "Roboto Slab", serif;
  color: #343434;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
svg,
object {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.right-2 {
  right: 2rem;
}

.w-2 {
  width: 2rem;
}

.h-2 {
  height: 2rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
@media (min-width: 640px) {

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {

  .order-2-lg {
    order: 2;
  }
}
.text-primary {
  color: #343434;
}

.bg-primary {
  background-color: #343434;
}

.text-secondary {
  color: #d4d4d4;
}

.bg-secondary-light-7 {
  background-color: #f2f2f2;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-gray {
  color: #808080;
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.btn-square-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 0;
  border: 2px solid #0000FF;
  transition: 0.2s;
}
.btn-square-outlined-blue:hover {
  background-color: #0000FF;
}

 .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 1rem 1rem;
  z-index: 100;
}
@media (min-width: 480px) {
  .navbar {
    padding: 1rem 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navbar {
    position: fixed;
    transition: 0.4s ease-in;
  }
}
.text-center {
  text-align: center;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-6 {
  margin-bottom: 6em;
}

.o-30 {
  opacity: 0.3;
}

.br {
  border-radius: 20px;
}

.font-lg {
  font-size: 1.5rem;
}

.font-resp-md {
  font-size: clamp(1rem, 1.75vw + 0.5rem, 2rem);
}

.font-bold {
  font-weight: 700;
}

.border {
  border-color: black;
}

#home {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: URL("./hex-background.png");
  box-shadow: inset 0 0 1rem 1rem #f4f4f4;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  transition: 0.5s;
}
@media (min-width: 960px) {
  h2 {
    font-size: 4rem;
  }
}

.sliding-navbar {
  position: relative;
}
@media (min-width: 0) {
  .sliding-navbar {
    height: 2.25rem;
    width: 20rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 640px) {
  .sliding-navbar {
    height: inherit;
    width: inherit;
  }
}
@media (min-width: 0) {
  .sliding-navbar .nav-name {
    position: absolute;
  }
}
@media (min-width: 640px) {
  .sliding-navbar .nav-name {
    position: relative;
    margin: 0.25rem clamp(0.25rem, 0.75vw + 0.05rem, 0.5rem) 0.25rem clamp(0.25rem, 0.75vw + 0.05rem, 0.5rem);
    animation: slide-left-in 0s forwards;
    font-size: 1.25rem;
  }
}
.sliding-navbar .navbar-links {
  position: absolute;
  left: -100vw;
}
@media (min-width: 640px) {
  .sliding-navbar .navbar-links {
    display: none;
  }
}

.responsive-nav .nav-ham {
  padding: 0.125rem;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.responsive-nav .nav-ham:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 225, 0.75);
}
@media (min-width: 640px) {
  .responsive-nav .nav-ham {
    display: none;
  }
}
@media (min-width: 0) {
  .responsive-nav .nav-links {
    display: none;
  }
}
@media (min-width: 640px) {
  .responsive-nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
  }
}

.nav-link {
  position: relative;
  margin: 0.25rem clamp(0.25rem, 0.75vw + 0.05rem, 0.5rem) 0.25rem clamp(0.25rem, 0.75vw + 0.05rem, 0.5rem);
  transition: 0.2s;
  cursor: pointer;
}
.nav-link::before {
  content: attr(data-link);
  position: absolute;
  color: #0000FF;
  width: 0%;
  overflow: hidden;
  border-bottom: 3px solid #0000FF;
}
.nav-link:hover::before {
  width: 100%;
}
.nav-link.router-link-exact-active {
  color: #0000FF;
}

@media (prefers-reduced-motion: no-preference) {
  .sliding-navbar .nav-name {
    animation-duration: 1s;
  }

  .nav-link::before {
    transition: 0.5s ease;
  }
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 480px) {
  #footer .footer-nav {
    flex-direction: row;
  }
}

.landing-content {
  height: 80vh;
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
  text-align: center;
}
.landing-content span {
  display: none;
}
@media (min-width: 640px) {
  .landing-content span {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2.75vw + 0.5rem, 3rem);
    transition: 1.5s;
    opacity: 0;
    z-index: 1;
  }
}
.landing-content h1 {
  font-size: clamp(2rem, 5vw + 0.5rem, 5rem);
  font-weight: 700;
}
.landing-content h2 {
  font-size: clamp(1rem, 1.75vw + 0.5rem, 2rem);
}
.landing-content button {
  background: transparent;
  font-weight: bold;
  transition: 0.5s;
}
.landing-content button:hover {
  border-color: #0000FF;
  background: #0000FF;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .light-effect {
    position: absolute;
    width: 4rem;
    height: 4rem;
    filter: blur(4rem);
    z-index: -1;
    transition: 50ms;
  }
}
#about {
  display: grid;
  place-items: center;
}
#about .about-container {
  padding-top: 9rem;
  width: 80%;
  max-width: 1200px;
}

.hex-container {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.hex-container:hover ~ div {
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.3);
}
.hex-container .hexagon-backing {
  position: relative;
  width: 175px;
  height: 200px;
  margin-top: 50px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background: #6666ff;
  transition: 0.3s;
}
.hex-container .hexagon-backing .hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 97.5%;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hex-container .hexagon-backing .hexagon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-card {
  padding: 3rem;
  background: #f4f4f4;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.about-card:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.3);
}
.about-card button {
  background: transparent;
  font-weight: bold;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
.about-card button:hover {
  color: #f4f4f4;
  background-color: #0000FF;
}
.about-card button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  right: 100%;
  bottom: 100%;
  background: #0000FF;
  overflow: hidden;
}
.about-card button a {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .about-container button:hover {
    background-color: transparent;
  }

  .about-container button:hover::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
  }

  .about-container button::before {
    transition: 0.5s ease;
  }
}
#projects-section {
  background: transparent;
}
#projects-section .transition {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background: #343434;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
#projects-section .project-area {
  width: 100%;
  background: transparent;
}
#projects-section .router-btn {
  margin: 5rem auto;
}
#projects-section .router-btn button {
  background: transparent;
  font-weight: bold;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}
#projects-section .router-btn button:hover {
  color: #f4f4f4;
  background-color: #0000FF;
}
#projects-section .router-btn button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #0000FF;
}
#projects-section .router-btn button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: #0000FF;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: min(40rem, 90%);
  margin: 5rem auto 0;
  box-shadow: 0 0 10px 5px rgba(52, 52, 52, 0.3);
  transition: 0.5s ease;
  background: linear-gradient(0deg, #343434 25%, rgba(244, 244, 244, 0) 25%);
}
.project-container:hover {
  box-shadow: 0 0 15px 10px rgba(52, 52, 52, 0.5);
}
@media (min-width: 960px) {
  .project-container {
    width: 30%;
  }
}
.project-container .project-backing {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background: transparent;
}
.project-container .project-backing .project-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}
.project-container .project-backing .project-window img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.project-container .project-info {
  width: 100%;
  background-color: #343434;
  color: #d4d4d4;
}
.project-container .project-info .info-container {
  padding: 1rem;
  opacity: 0;
}
.project-container .project-info .info-container .project-links div a {
  position: relative;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #d4d4d4;
}
.project-container .project-info .info-container .project-links div a:hover {
  border-color: #0000FF;
  color: #0000FF;
  background: black;
}

.light::before {
  left: calc(100% + 7rem);
}

@media (prefers-reduced-motion: no-preference) {
  #projects-section .router-btn button {
    background-color: none;
  }

  #projects-section .router-btn button:hover::before,
#projects-section .router-btn button:hover::after {
    width: 100%;
    z-index: -1;
  }

  #projects-section .router-btn button::before,
#projects-section .router-btn button::after {
    transition: 0.5s;
  }
}
@media (prefers-reduced-motion: no-preference) and (min-width: 960px) {
  .project-container:hover {
    transform: translateY(-1rem);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .window-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: URL("./hex-background.png");
    box-shadow: inset 0 0 1rem 1rem #f4f4f4;
  }
  .window-bg::before {
    position: absolute;
    content: "";
    top: 0;
    left: -7rem;
    width: 0.5rem;
    height: 100%;
    transform: rotate(45deg);
    filter: blur(0.25rem);
    background: #0000FF;
    z-index: -1;
    transition: 0.75s ease-in-out;
  }
}
#projects .projects-title {
  padding: 6rem 0;
}
#projects .projects-title h1 {
  font-size: clamp(2rem, 5vw + 0.5rem, 5rem);
  font-weight: 700;
  text-align: center;
}
#projects .projects-section .project-container {
  justify-content: flex-start;
  background-color: #343434;
  margin: 0 auto 5em;
}
#projects .projects-section .project-container .project-backing .project-window img {
  opacity: 1;
}
#projects .projects-section .project-container .project-backing .project-window .window-bg {
  display: none;
}
#projects .projects-section .project-container .project-info .info-container {
  opacity: 1;
}

.section-title {
  padding: 2.5rem 0;
  background-color: #343434;
}
.section-title h2 {
  text-align: center;
  color: #d4d4d4;
}

.skills-area {
  width: 100%;
  background-image: URL("./hex-background.png");
}

.skills-grid {
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  width: fit-content;
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  background-color: transparent;
}
.skills-grid .skill-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 140px;
  width: 160px;
  margin: 5px auto;
  background-color: #343434;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 0.5s;
}
.skills-grid .skill-container:hover,
.skills-grid .skill-container :focus {
  background: #0000FF;
}
.skills-grid .skill-container .skill {
  position: relative;
  z-index: 20;
}
.skills-grid .skill-container .skill .skill-icon {
  width: 4rem;
  height: 4rem;
  transition: 0.5s;
}
.skills-grid .skill-container .skill img {
  width: 4rem;
  transition: 0.5s;
}
.skills-grid .skill-container .skill-hex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 126px;
  width: 142px;
  background-color: #f4f4f4;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  z-index: 10;
}

@media (prefers-reduced-motion: no-preference) {
  .skill-container:hover .skill .skill-icon,
.skill-container:hover .skill img,
.skill-container :focus .skill .skill-icon,
.skill-container :focus .skill img {
    scale: 1.2;
  }
}
#about .about-header {
  padding: 6rem 0;
}
#about .about-header h1 {
  font-size: clamp(2rem, 5vw + 0.5rem, 5rem);
  font-weight: 700;
  text-align: center;
}
#about .about-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #343434;
  color: #d4d4d4;
}
@media (min-width: 960px) {
  #about .about-section {
    height: 100vh;
  }
}
#about .about-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  z-index: 20;
}
@media (min-width: 960px) {
  #about .about-section .text-container {
    padding: 0;
    align-items: flex-start;
  }
}
#about .about-section .text-container .about-section-title {
  font-size: 1.75rem;
}
@media (min-width: 640px) {
  #about .about-section .text-container .about-section-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 960px) {
  #about .about-section .text-container .about-section-title {
    font-size: 3rem;
    padding: 1rem 2rem;
  }
}
#about .about-section .text-container .section-text {
  padding: 1rem;
}
@media (min-width: 960px) {
  #about .about-section .text-container .section-text {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}
#about .about-section svg {
  display: none;
}
@media (min-width: 960px) {
  #about .about-section svg {
    display: block;
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    z-index: 10;
    fill: currentColor;
    color: #343434;
  }
}
#about .about-section .svg-two {
  color: #f4f4f4;
}
#about .about-section .img-container {
  position: relative;
  height: 50vh;
  width: 100%;
}
@media (min-width: 960px) {
  #about .about-section .img-container {
    height: 100%;
    width: 50%;
  }
}
#about .about-section .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .section-two {
  background: #f4f4f4;
  color: #343434;
}
#about #skills-section {
  width: 100%;
  transition: 0.5s;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#contact .contact-text {
  margin: 1rem auto;
}
#contact .contact-text p {
  padding: 0.5rem;
  max-width: 40rem;
  font-size: 1rem;
  text-align: center;
}

.contact-icons {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.contact-icons li a::after {
  display: none;
  position: absolute;
  content: attr(data-link);
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
}
.contact-icons li a:hover::after {
  display: block;
  animation: fade-in-up 0s forwards;
}
.contact-icons li a .contact-icon {
  width: 2rem;
  height: 2rem;
  padding: clamp(1rem, 2.5vw + 0.25rem, 1.5rem);
  cursor: pointer;
  transition: 0.5s ease-out;
}
@media (min-width: 960px) {
  .contact-icons li a .contact-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.contact-icons li a .contact-icon:hover {
  color: #0000FF;
}

@media (prefers-reduced-motion: no-preference) {
  .contact-icons li a:hover::after {
    animation: fade-in-up 1s forwards;
  }
}
.fade-in {
  animation: fade-in 0.01s forwards;
}

.fade-in-slow {
  animation: fade-in 0.01s forwards;
}

.fade-out {
  animation: fade-out 0s forwards;
}

.slide-right-out {
  animation: slide-right-out 0s forwards;
}

.slide-right-in {
  animation: slide-right-in 0s forwards;
}

.slide-left-out {
  animation: slide-left-out 0s forwards;
}

.slide-left-in {
  animation: slide-left-in 0s forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fade-in 0.2s forwards;
  }

  .fade-in-slow {
    animation: fade-in 2s forwards;
  }

  .fade-out {
    animation: fade-out 0.2s forwards;
  }

  .slide-right-out {
    animation: slide-right-out 1s forwards;
  }

  .slide-right-in {
    animation: slide-right-in 1s forwards;
  }

  .slide-left-out {
    animation: slide-left-out 1s forwards;
  }

  .slide-left-in {
    animation: slide-left-in 1s forwards;
  }
}
@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-right-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}
@keyframes slide-right-in {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
@keyframes slide-left-out {
  0% {
    transform: translateX(100vw);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes slide-left-in {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    bottom: -50%;
  }
  100% {
    opacity: 1;
    bottom: -25%;
  }
}