@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding * 0.75 $base-padding * 1.5;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn;
}

.btn-square {
  @include btn;
  border-radius: 0;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5)
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .btn-square-outlined-#{$key} {
    @include btn(#fff);
    border-radius: 0;
    border: $border-thickness-2 solid $val;
    transition: 0.2s;
    &:hover {
      background-color: $val;
    }
  }
  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val)
    }
  }
}
