// animation utility classes
.fade-in {
  animation: fade-in 0.01s forwards;
}

.fade-in-slow {
  animation: fade-in 0.01s forwards;
}

.fade-out {
  animation: fade-out 0s forwards;
}

.slide-right-out {
  animation: slide-right-out 0s forwards;
}

.slide-right-in {
  animation: slide-right-in 0s forwards;
}

.slide-left-out {
  animation: slide-left-out 0s forwards;
}

.slide-left-in {
  animation: slide-left-in 0s forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fade-in 0.2s forwards;
  }

  .fade-in-slow {
    animation: fade-in 2s forwards;
  }

  .fade-out {
    animation: fade-out 0.2s forwards;
  }

  .slide-right-out {
    animation: slide-right-out 1s forwards;
  }

  .slide-right-in {
    animation: slide-right-in 1s forwards;
  }

  .slide-left-out {
    animation: slide-left-out 1s forwards;
  }

  .slide-left-in {
    animation: slide-left-in 1s forwards;
  }
}

// animation keyframes
@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-right-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

@keyframes slide-right-in {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}

@keyframes slide-left-out {
  0% {
    transform: translateX(100vw);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slide-left-in {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    bottom: -50%;
  }
  100% {
    opacity: 1;
    bottom: -25%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .light-effect {
    position: absolute;
    width: 4rem;
    height: 4rem;
    filter: blur(4rem);
    z-index: -1;
    transition: 50ms;
  }
}
