#contact {
  @include col-center-center;
  padding: 2rem;

  .contact-text {
    margin: 1rem auto;

    p {
      padding: 0.5rem;
      max-width: 40rem;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.contact-icons {
  @include row;
  position: relative;

  li {
    a {
      &::after {
        display: none;
        position: absolute;
        content: attr(data-link);
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 1rem;
        text-align: center;
        opacity: 0;
      }
      &:hover::after {
        display: block;
        animation: fade-in-up 0s forwards;
      }

      .contact-icon {
        width: 2rem;
        height: 2rem;
        padding: $clamp-medium;
        cursor: pointer;
        transition: 0.5s ease-out;

        @include lg {
          width: 2.5rem;
          height: 2.5rem;
        }
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .contact-icons li a:hover::after {
    animation: fade-in-up 1s forwards;
  }
}
