.landing-content {
  height: min(80vh);
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
  text-align: center;

  span {
    display: none;
    @include md {
      @include row-center-center;
      font-size: $responsive-font-lg;
      transition: 1.5s;
      opacity: 0;
      z-index: 1;
    }
  }

  h1 {
    font-size: $responsive-font-xl;
    font-weight: $font-weight-7;
  }

  h2 {
    font-size: $responsive-font-md;
  }

  button {
    @include button;

    &:hover {
      border-color: $blue;
      background: $blue;
      color: $white;
    }
  }
}
