.sliding-navbar {
  position: relative;
  @include xs {
    height: 2.25rem;
    width: 20rem;
    display: flex;
    align-items: center;
  }
  @include md {
    height: inherit;
    width: inherit;
  }

  .nav-name {
    @include xs {
      position: absolute;
    }
    @include md {
      position: relative;
      margin: .25rem $clamp-xs .25rem $clamp-xs;
      animation: slide-left-in 1s forwards;
      font-size: $base-font-size * 1.25;
    }
  }

  .navbar-links {
    position: absolute;
    left: -100vw;

    @include md {
      display: none;
    }
  }
}

.responsive-nav {
  .nav-ham {
    padding: $base-padding * .125;
    border-radius: $border-radius-sm;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px 0 rgba(0, 0, 225, 0.75)
    }
    @include md {
      display: none;
    }
  }
  .nav-links {
    @include xs {
      display: none;
    }
    @include md {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.25rem;
    }
  }
}

.nav-link {
  position: relative;
  margin: .25rem $clamp-xs .25rem $clamp-xs;
  transition: .2s;
  cursor: pointer;
  &::before {
    content: attr(data-link);
    position: absolute;
    color: $blue;
    width: 0%;
    overflow: hidden;
    border-bottom: 3px solid $blue;
    transition: .5s ease;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  &.router-link-exact-active {
    color: $blue;
  }
}
