#projects {
  .projects-title {
    padding: 6rem 0;

    h1 {
      font-size: $responsive-font-xl;
      font-weight: $font-weight-7;
      text-align: center;
    }
  }

  .projects-section {
    .project-container {
      justify-content: flex-start;
      background-color: $primary;
      margin: 0 auto $base-margin * 5;

      .project-backing {
        .project-window {
          img {
            opacity: 1;
          }

          .window-bg {
            display: none;
          }
        }
      }

      .project-info {
        .info-container {
          opacity: 1;
        }
      }
    }
  }
}
