.section-title {
  padding: 2.5rem 0;
  background-color: $primary;

  h2 {
    text-align: center;
    color: $secondary;
  }
}

.skills-area {
  width: 100%;
}

.skills-grid {
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  width: fit-content;
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  background-color: transparent;

  .skill-container {
    @include row-center-center;
    position: relative;
    height: 140px;
    width: 160px;
    margin: 5px auto;
    background-color: $primary;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 0.5s;

    &:hover,
    :focus {
      background: $blue;
    }

    .skill {
      position: relative;
      z-index: 20;

      .skill-icon {
        width: 4rem;
        height: 4rem;
        transition: 0.5s;
      }

      img {
        width: 4rem;
        transition: 0.5s;
      }
    }

    .skill-hex {
      @include absolute-center;
      height: 126px;
      width: 142px;
      background-color: #f4f4f4;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      z-index: 10;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .skill-container {
    &:hover,
    :focus {
      .skill .skill-icon,
      .skill img {
        scale: 1.2;
      }
    }
  }
}
